{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="cus-login-bg container-fluid text-center">
    <form method="post" class="d-flex justify-content-center align-items-center">
        <div class="my-5 mx-3 p-sm-3 p-md-5 bg-white d-flex flex-column justify-content-center align-items-center"
            style="width: 600px;">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="py-4" style="min-width: 300px;">
                <h1 class="h3 mb-5 mt-2 font-weight-normal">Connexion</h1>
                <input type="email" value="{{ last_username }}" name="_username" id="username" placeholder="E-MAIL"
                    autocomplete="email" required autofocus>
                <input type="password" name="_password" id="password" placeholder="MOT DE PASSE"
                    autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-secondary mt-5 px-5 py-2" type="submit">
                    Se connecter
                </button>
            </div>
            <div class="mb-5">
                <span><a href="{{ path('app_register') }}"
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">CRÉER
                        UN COMPTE</a></span>
            </div>
        </div>
    </form>
</div>
{% endblock %}