{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<header>
    <div class="cus-header-bg"></div>
    <div class="main-header w-100 px-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('img/ahri.png') }}" class="d-block w-100 fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/lol.png') }}" class="d-block w-100 fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/valo.png') }}" class="d-block w-100 fluid" alt="...">
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}