$primary: #111111;
$secondary: #d80026;

$navbar-padding-y: 1rem;
$navbar-padding-x: 1rem;
$navbar-nav-link-padding-x: 1rem;

$dropdown-spacer: 0.9rem;
$dropdown-bg: $primary;

$card-border-color: transparent;
$card-border-radius: 0;

$container-padding-x: 0;

body {
  position: relative;
}

// homepage
.cus-header-bg {
  position: absolute;
  width: 100vw;
  height: 40vh;
  top: 72px;
  left: 0;
  background: center / cover no-repeat url("../../public/img/bg.png");
  padding: 1rem;
}

.main-header {
  position: relative;
  padding: 1rem;
}

.cus-main-content {
  position: relative;
}

.cus-product-card {
  img {
    transform: scale(0.8);
    transition: all 0.5s;
  }

  img:hover {
    transform: scale(0.7);
  }
}

.cus-badge-cart {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $secondary;
}

.cus-gift-card {
  background: center / cover no-repeat url("../../public/img/gift-card-bg.png");
}

.gift-card-title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

// footer
.cus-footer {
  background: center / cover no-repeat
    url("../../public/img/bg-footer-dark.png");

  li {
    list-style-type: none;
    text-transform: uppercase;
    margin: 2rem 2rem 0 2rem;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

// login, register
.cus-login-bg,
.cus-register-bg {
  background: center / cover no-repeat url("../../public/img/bg-arcane.jpg");

  input {
    width: 90%;
    height: 60px;
    margin: 1rem 0;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 700;
    background-color: rgba(186, 186, 186, 0.1);
    border: solid 2px transparent;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1200px) {
  .cus-header-bg {
    height: 100px;
  }
}
