$primary: #111111;
$secondary: #d80026;

$navbar-padding-y: 1rem;
$navbar-padding-x: 1rem;
$navbar-nav-link-padding-x: 1rem;

$dropdown-spacer: 0.9rem;
$dropdown-bg: $primary;

$card-border-color: transparent;
$card-border-radius: 0;

$container-padding-x: 0;

body {
  position: relative;
}

.cus-header-bg {
  position: absolute;
  width: 100vw;
  height: 40vh;
  top: 72px;
  left: 0;
  background: center / cover no-repeat url("../../public/img/bg.png");
  padding: 1rem;
}

.main-header {
  position: relative;
  padding: 1rem;
}

.cus-main-content {
  position: relative;
}

.cus-gift-card {
  background: center / cover no-repeat url("../../public/img/gift-card-bg.png");
}

.gift-card-title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .cus-header-bg {
    height: 100px;
  }
}
