<footer class="cus-footer container-fluid p-3 text-center text-white">
    <ul class="d-flex align-items-center justify-content-center">
        <li><a href="">vetements</a></li>
        <li><a href="">art</a></li>
        <li><a href="">accessoires</a></li>
    </ul>
    <span>© Akishop 2024</span>
</footer>